@import helper._

@(requestedNames: String = "", names: Seq[String] = Seq(),
  menu: Seq[views.MenuItem])(implicit messages: Messages)

@layout(title = "GNParser", menu = menu) {
  <section class="parser">
    <div class="grid">
      <div class="unit whole">
        @form(action = routes.Application.batchHandle()) {
            <textarea
              id="names"
              name="names"
              placeholder="Place names here one per line"
              autofocus>@requestedNames</textarea>
          <button type="submit">Parse</button>
        }
      </div>
    </div>
  </section>
  @if(names.nonEmpty) {
    <section class="parser results">
      <div class="grid">
        <div class="unit whole">
          <h4>Results:</h4>
          @for(name <- names) {
            <p>@name</p>
          }
        </div>
      </div>
    </section>
  }
}
