@import org.globalnames.parser.runner.web.views.MenuItem

@(requestedNames: String, names: Seq[String],
  menu: Seq[MenuItem])

@layout(title = "GNParser", menu) {
  <section class="parser">
    <div class="grid">
      <div class="unit whole">
        <form action="/" method="get">
          <textarea
            id="names"
            name="q"
            placeholder="Place names here one per line"
            autofocus>@requestedNames</textarea>
          <input type="submit" value="Parse">
        </form>
      </div>
    </div>
  </section>
  @if(names.nonEmpty) {
    <section class="parser results">
      <div class="grid">
        <div class="unit whole">
          <h4>Results:</h4>
          @for(name <- names) {
            <p><code>@name</code></p>
          }
        </div>
      </div>
    </section>
  }
}
